# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
   {#<div class="page-header">
    <div class="pull-right">
      <a class="btn btn-success" href="{{url_for('resource_download', resource_id=resource_db.key.id())}}" title="Download">
        <span class="fa fa-cloud-download"></span>
      </a>
    </div>
    <h1>
      {{utils.back_link('Back to resource list', 'resource_list')}}
      {{title}}
    </h1>
  </div> #}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{album_db.name}}</h1>
        <p>{{album_db.description}}</p>
        # for resource_db in resource_dbs
          # if resource_db.image_url
            <img class="img-responsive center-block album-image" src="{{resource_db.image_url}}=s512">
          # endif
        # endfor
      </div>
    </div>
  </div>
# endblock
